* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 等线;
    /*border: 1px solid red;*/
}

body {
    min-width: 965px;
    min-height: 600px;
    background-color: #222222;
}

main {
    width: 100%;
    min-width: 965px;
    height: 100vh;
    min-height: 600px;
    z-index: 0;
}

.font15 {
    font-size: 15px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}