* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    font-family: 微软雅黑, arial, sans-serif;
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4{
    font-weight:normal;
}

textarea {
    resize: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}